.App {
  background-color: #f3f3f3;
  margin: auto;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 40px 24px;
  font-family: 'Inter';
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .App {
    width: 700px;
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  .App {
    width: 320px;
    margin: auto;
    padding: 0;
  }
}